<div class="large-pane pane">
  <div class="navigation-bar">
    <div class="title">
      Notifications
    </div>
  </div>
  <div class="pane-inner">
    <div class="pill-switch" data-bind="notification-item">
      <div class="item pill-item selected" data-bind="notification-item">
        All
      </div>
      <div class="item pill-item" data-bind="notification-unread">
        Unread
      </div>
    </div>
    <div class="notifications-container">
      <div class="notification-item notification-unread">
        Read about the new article in our blog, "The social media for engaging young people to do sport "

      </div>
      <div class="notification-notification-unread">
        Your event "Football Night" takes place in the city stadium soon. Leave by 17:30 to arrive on time.
      </div>
      <div class="notification-item notification-unread">
       You have one sport event without a comment. Please consider sharing your experience about the event. 
      </div>
      <div class="notification-item">
        You have received a recommendation for the user "Jaime Heda"
      </div>
       <div class="notification-item">
       There is a need of one person to play a football game for 20th of November at 20:00 in your city
      </div>
      <div class="notification-item">
        Read about the new article in our blog, "Social benefits when exercises with others "
      </div>
      <div class="notification-item">
        Your event "Walk in Santander" is in 4 days.
      </div>
      <div class="notification-item">
        Welcome to the the meetfit 
      </div>
      <div class="notification-item">
        Your event "Basktball Night" takes place in the city stadium soon. Leave by 17:30 to arrive on time.
    </div>
    <div class="notification-item ">
        Congratulations! You just finished your first workout event!
      </div>
  </div>
</div>