<div class="large-pane pane">
  <div class="navigation-bar">
    <div class="title">
      Notifications
    </div>
  </div>
  <div class="pane-inner">
    <div class="pill-switch" data-bind="notification-item">
      <div class="item pill-item selected" data-bind="notification-item">
        All
      </div>
      <div class="item pill-item" data-bind="notification-unread">
        Unread (<span id="unread-count">3</span>)
      </div>
    </div>
    <div class="notifications-container">
      <div class="notification-item notification-unread">
        <div class="notification-actions">
          <div class="read swipe-action">
            <i class="bi_setting-notification"></i>
            <div class="text">
            </div>
          </div>
          <div class="delete swipe-action">
            <i class="bi_editorial-trash-a-l"></i>
            <div class="text">
              Delete
            </div>
          </div>
        </div>
        <div class="notification-body">
          <div class="icon">
            <i class="bi_doc-article"></i>
          </div>
          <div class="text">
            <p class="time">November 21st, 15:03</p>
            <p> Read about the new article in our blog, "The social media for engaging young people to do sport."</p>
          </div>
        </div>
      </div>
      <div class="notification-item notification-unread">
        <div class="notification-actions">
          <div class="read swipe-action">
            <i class="bi_setting-notification"></i>
            <div class="text">
            </div>
          </div>
          <div class="delete swipe-action">
            <i class="bi_editorial-trash-a-l"></i>
            <div class="text">
              Delete
            </div>
          </div>
        </div>
        <div class="notification-body">
          <div class="icon">
            <i class="bi_time-clock-a"></i>
          </div>
          <div class="text">
            <p class="time">November 18th, 16:18</p>
            <p>Your event "Football Night" takes place in the city stadium soon. Leave by 17:30 to arrive on time.</p>
          </div>
        </div>
      </div>
      <div class="notification-item">
        <div class="notification-actions">
          <div class="read swipe-action">
            <i class="bi_setting-notification"></i>
            <div class="text">
            </div>
          </div>
          <div class="delete swipe-action">
            <i class="bi_editorial-trash-a-l"></i>
            <div class="text">
              Delete
            </div>
          </div>
        </div>
        <div class="notification-body">
          <div class="icon">
            <i class="bi_com-group-bubble-d"></i>
          </div>
          <div class="text">
            <p class="time">November 18th, 12:25</p>
            <p>You have one sport event without a comment. Please consider sharing your experience about the event. </p>
          </div>
        </div>
      </div>
      <div class="notification-item notification-unread">
        <div class="notification-actions">
          <div class="read swipe-action">
            <i class="bi_setting-notification"></i>
            <div class="text">
            </div>
          </div>
          <div class="delete swipe-action">
            <i class="bi_editorial-trash-a-l"></i>
            <div class="text">
              Delete
            </div>
          </div>
        </div>
        <div class="notification-body">
          <div class="icon">
            <i class="bi_user-single-a-plus"></i>
          </div>
          <div class="text">
            <p class="time">November 5th, 19:05</p>
            <p> You have received an invitation from the user "Jaime Heda".</p>
          </div>
        </div>
      </div>
      <div class="notification-item">
        <div class="notification-actions">
          <div class="read swipe-action">
            <i class="bi_setting-notification"></i>
            <div class="text">
            </div>
          </div>
          <div class="delete swipe-action">
            <i class="bi_editorial-trash-a-l"></i>
            <div class="text">
              Delete
            </div>
          </div>
        </div>
        <div class="notification-body">
          <div class="icon">
            <i class="bi_doc-article"></i>
          </div>
          <div class="text">
            <p class="time">November 3rd, 16:20</p>
            <p> Read about the new article in our blog, "Social benefits when exercises with others."</p>
          </div>
        </div>
      </div>
      <div class="notification-item">
        <div class="notification-actions">
          <div class="read swipe-action">
            <i class="bi_setting-notification"></i>
            <div class="text">
            </div>
          </div>
          <div class="delete swipe-action">
            <i class="bi_editorial-trash-a-l"></i>
            <div class="text">
              Delete
            </div>
          </div>
        </div>
        <div class="notification-body">
          <div class="icon">
            <i class="bi_doc-drawer-download"></i>
          </div>
          <div class="text">
            <p class="time">October 10th, 18:56</p>
            <p> Your event "Walk in Santander" has changed to October 25 at 19:00.</p>
          </div>
        </div>
      </div>
      <div class="notification-item">
        <div class="notification-actions">
          <div class="read swipe-action">
            <i class="bi_setting-notification"></i>
            <div class="text">
            </div>
          </div>
          <div class="delete swipe-action">
            <i class="bi_editorial-trash-a-l"></i>
            <div class="text">
              Delete
            </div>
          </div>
        </div>
        <div class="notification-body">
          <div class="icon">
            <i class="bi_time-clock-a"></i>
          </div>
          <div class="text">
            <p class="time">October 1st, 16:20</p>
            <p> Your event "Basktball Night" takes place in the city stadium soon. Leave by 17:30 to arrive on time.</p>
          </div>
        </div>
      </div>
      <div class="notification-item">
        <div class="notification-actions">
          <div class="read swipe-action">
            <i class="bi_setting-notification"></i>
            <div class="text">
            </div>
          </div>
          <div class="delete swipe-action">
            <i class="bi_editorial-trash-a-l"></i>
            <div class="text">
              Delete
            </div>
          </div>
        </div>
        <div class="notification-body">
          <div class="icon">
            <i class="bi_sport-trophy"></i>
          </div>
          <div class="text">
            <p class="time">September 15th, 12:48</p>
            <p> Congratulations! You just finished your first workout event!"</p>
          </div>
        </div>
      </div>
  </div>
</div>