<div class="large-pane pane">
  <div class="navigation-bar">
    <div class="title">
      Notifications
    </div>
  </div>
  <div class="pane-inner">
    <div class="pill-switch" data-bind="notification-item">
      <div class="item pill-item selected" data-bind="notification-item">
        All
      </div>
      <div class="item pill-item" data-bind="notification-unread">
        Unread
      </div>
    </div>
    <div class="notifications-container">
      <div class="notification-item notification-unread">
        Congratulations! You just finished your first workout event!
      </div>
      <div class="notification-item">
        Your event "Football Night" takes place in the city stadium soon. Leave by 17:30 to arrive on time.
      </div>
    </div>
  </div>
</div>