<div class="navigation-bar">
  <div class="title">
    

    Meetfit began in 2015 as a small passion project, to create a community that use the routine of working-out to meet new people. The application aims to organize in a simple way sports events with different peoples based in preferences and locations. The application was made thinking in the accessibility to allow all target groups to access the application. 

   we want to create a social component in the daily routine of millions of people, and with that engage them to make more exercise. 

  </div>
</div>