<div class="navigation-bar">
  <div class="title">
    Accessibility
  </div>
</div>
<div class="pane-inner">
  <div class="group">
    <div class="item">
      <div class="title">
        <div class="left">
          Colorblind Mode
        </div>
        <div class="right">
          <label class="switch-toggle">
            <input type="checkbox" id="accessibility-switch-colorblind" class="accessibility-switch" data-func="colorblind">
            <span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          Grayscale
        </div>
        <div class="right">
          <label class="switch-toggle">
            <input type="checkbox" id="accessibility-switch-grayscale" class="accessibility-switch" data-func="grayscale">
            <span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          Invert Colors
        </div>
        <div class="right">
          <label class="switch-toggle">
            <input type="checkbox" id="accessibility-switch-invert" class="accessibility-switch" data-func="invert">
            <span></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>