<div class="navigation-bar">
  <div class="title">
    Contact Us
  </div>
</div>
<div class="pane-inner">
  <div class="group">
  
    <div class="group-title">
  	  Fill out the form to contact us:
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          Name
        </div>
        <div class="right">
          <input type="text" name="name" />
        </div>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          Email
        </div>
        <div class="right">
          <input type="text" name="email" />
        </div>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          Questions, Comments, and Suggestions
        </div>
        <div class="right">
          <textarea type="text" name="comments" />
        </div>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
	      
        </div>
        <div class="right">
          <button type="button"> Send </button>
        </div>
      </div>
    </div>
  </div>

</div>