<div class="navigation-bar">
  <div class="title">
    Contact Us
  </div>
</div>
<div class="pane-inner">
  <div class="group">
    <div class="group-title">
  	  Fill out the form to contact us:
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          Name
        </div>
        <div class="right">
          <input type="text" name="name" placeholder="Name"/>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          Email
        </div>
        <div class="right">
          <input type="text" name="email" placeholder="Email"/>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          Questions, Comments, and Suggestions
        </div>
      </div>
    </div>
    <div class="item-xlarge">
      <div class="right">
        <textarea type="text" name="comments" />
      </div>
      <button type="button"> Send </button>
    </div>
  </div>
</div>