<div class="navigation-bar">
  <div class="title">
    My Profile
  </div>
</div>
<div class="pane-inner">
  <div class="group">
  
	<img src="https://www.xfball.com/Content/img/profile-img-none.png"/>
	<div class="item">
      <div class="title">
	    <div class="left">
          Name
	    </div>
	    <div class="right">
	      <input type="text" name="name" value="HedaWong" 
        </div>
	  </div>
	</div>
	<div class="item">
      <div class="title">
	    <div class="left">
	      Email
	    </div>
	    <div class="right">
	      <input type="text" name="email" value="hedawong@hacktoprogress.com" />
	    </div>
	  </div>
	</div>
    <div class="item">
	  <div class="title">
	    <div class="left">
	      Age
	    </div>
	    <div class="right">
	      <input type="number" name="age" value="23" />
	    </div>
 	  </div>
    </div>
	<div class="item">
      <div class="title">
	    <div class="left">
	      Gender
	    </div>
	    <div class="right">
	      <input type="text" name="gender" value="Male" />
	    </div>
      </div>
    </div>
	<div class="item">
      <div class="title">
	    <div class="left">
	      Location
	    </div>
	    <div class="right">
	      <input type="text" name="location" value="Santander" />
	    </div>
	  </div>
	</div>
	<div class="item">
	  <div class="title">
	    <div class="left">
	      Password
	    </div>
	    <div class="right">
	      <input type="text" name="password" value="******" />
	    </div>
	  </div>
	</div>
  </div>
	
  <div class="group">
    <div class="item">
      <div class="title">
        <div class="left">
          Futbol
        </div>
        <div class="right">
          <label class="switch-toggle">
            <input type="checkbox" id="accessibility-switch-colorblind" class="accessibility-switch" data-func="colorblind">
            <span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          Tenis
        </div>
        <div class="right">
          <label class="switch-toggle">
            <input type="checkbox" id="accessibility-switch-grayscale" class="accessibility-switch" data-func="grayscale">
            <span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          Futbol Sala
        </div>
        <div class="right">
          <label class="switch-toggle">
            <input type="checkbox" id="accessibility-switch-invert" class="accessibility-switch" data-func="invert">
            <span></span>
          </label>
        </div>
      </div>
    </div>
	<div class="item">
      <div class="title">
        <div class="left">
          Padel
        </div>
        <div class="right">
          <label class="switch-toggle">
            <input type="checkbox" id="accessibility-switch-invert" class="accessibility-switch" data-func="invert">
            <span></span>
          </label>
        </div>
      </div>
    </div>
	<div class="item">
      <div class="title">
        <div class="left">
          Baloncesto
        </div>
        <div class="right">
          <label class="switch-toggle">
            <input type="checkbox" id="accessibility-switch-invert" class="accessibility-switch" data-func="invert">
            <span></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>