<div class="navigation-bar">
  <div class="title">
    Notifications
  </div>
</div>
<div class="pane-inner">
  <div class="group">
  	<div class="group-title">
  		Receive notifications about:
  	</div>
  	<div class="item">
      <div class="title">
        <div class="left">
          News and tips from MeetFit
        </div>
        <div class="right">
          <label class="switch-toggle">
            <input type="checkbox" checked>
            <span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          News and modifications of upcoming events
        </div>
        <div class="right">
          <label class="switch-toggle">
            <input type="checkbox" checked>
            <span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          New events in the same community
        </div>
        <div class="right">
          <label class="switch-toggle">
            <input type="checkbox">
            <span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          New events of your favorite sports
        </div>
        <div class="right">
          <label class="switch-toggle">
            <input type="checkbox" checked>
            <span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          Traffic and weather conditions for upcoming events
        </div>
        <div class="right">
          <label class="switch-toggle">
            <input type="checkbox" checked>
            <span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          Somebody follows you
        </div>
        <div class="right">
          <label class="switch-toggle">
            <input type="checkbox">
            <span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="left">
          Somebody invited you to a new event
        </div>
        <div class="right">
          <label class="switch-toggle">
            <input type="checkbox" checked>
            <span></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>