<div class="left-pane pane">
  <div class="navigation-bar">
    <div class="title">
      Settings
    </div>
  </div>
  <div class="pane-inner">
    <div class="group">
      <div class="item menu-item with-icon selected" data-parent="settings" data-template="general">
        <div class="icon">
          <i class="bi_setting-gear-a"></i>
        </div>
        <div class="title">
          <div class="left">
            General
          </div>
        </div>
      </div>
      <div class="item menu-item with-icon" data-parent="settings" data-template="my_profile">
        <div class="icon">
          <i class="bi_user-single"></i>
        </div>
        <div class="title">
          <div class="left">
            My profile
          </div>
        </div>
      </div>
      <div class="item menu-item with-icon" data-parent="settings" data-template="accessibility">
        <div class="icon">
          <i class="bi_tool-magic-wand"></i>
        </div>
        <div class="title">
          <div class="left">
            Accessibility
          </div>
        </div>
      </div>
    </div>
    <div class="group">
      <div class="item menu-item with-icon" data-parent="settings" data-template="about">
        <div class="icon">
          <i class="bi_com-help-a"></i>
        </div>
        <div class="title">
          <div class="left">
            About
          </div>
        </div>
      </div>
      <div class="item menu-item with-icon" data-parent="settings" data-template="contact_us">
        <div class="icon">
          <i class="bi_com-email"></i>
        </div>
        <div class="title">
          <div class="left">
            Contact us
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="right-pane pane">
</div>