<div class="left-pane pane">
  <div class="navigation-bar">
    <div class="title">
      Settings
    </div>
  </div>
  <div class="pane-inner">
    <div class="group">
      <div class="item menu-item with-icon selected" data-parent="settings" data-template="my_profile">
        <div class="icon">
          <i class="bi_user-single-a-group"></i>
        </div>
        <div class="title">
          <div class="left">
            My profile
          </div>
        </div>
      </div>
      <div class="item menu-item with-icon" data-parent="settings" data-template="notifications">
        <div class="icon">
          <i class="bi_setting-notification"></i>
        </div>
        <div class="title">
          <div class="left">
            Notifications
          </div>
        </div>
      </div>
      <div class="item with-icon" data-parent="settings">
        <div class="icon">
          <i class="bi_weather-moon-a"></i>
        </div>
        <div class="title">
          <div class="left">
            Do not disturb
          </div>
          <div class="right">
            <label class="switch-toggle">
              <input type="checkbox">
              <span></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="group">
      <div class="item menu-item with-icon" data-parent="settings" data-template="accessibility">
        <div class="icon">
          <i class="bi_tool-magic-wand"></i>
        </div>
        <div class="title">
          <div class="left">
            Accessibility
          </div>
        </div>
      </div>
    </div>
    <div class="group">
      <div class="item menu-item with-icon" data-parent="settings" data-template="about">
        <div class="icon">
          <i class="bi_com-help-a"></i>
        </div>
        <div class="title">
          <div class="left">
            About
          </div>
        </div>
      </div>
      <div class="item menu-item with-icon" data-parent="settings" data-template="contact_us">
        <div class="icon">
          <i class="bi_com-email"></i>
        </div>
        <div class="title">
          <div class="left">
            Contact us
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="right-pane pane">
</div>