$textWhite      : #FFFFFF;
$textMiddleGray : #777777;
$textGray       : #333333;

$bgWhite        : #FFFFFF;
$bgLightGray    : #F4F6F7;
$bgDarkGray     : #333333;

$lineGray       : #CCCCCC;

$branding       : #E74C3C;

$shadowGray     : #D7DBDD;
$shadowBlack    : #000000;

$actionBlue     : #3498DB;
$actionRed      : #E74C3C;
$actionYellow   : #F39C12;
$actionDarkBlue : #34495E;

$themeGreen     : #2ECC71;
$themePurple    : #8E44AD;
$themeBlue      : #3498DB;
$themeYellow    : #F39C12;
$themeOrange    : #D35400;