<div class="large-pane pane">
  <div class="navigation-bar">
    <div class="title">
      Achievements
    </div>
  </div>
  <div class="pane-inner">
    <div class="pill-switch" data-bind="notification-item">
      <div class="item pill-item selected" data-bind="notification-item">
        All
      </div>
      <div class="item pill-item" data-bind="notification-unread">
        Favorites (<span id="unread-count">3</span>)
      </div>
    </div>
    <div class="notifications-container">
      <div class="notification-item notification-unread theme-green">
        <div class="notification-actions">
          <div class="read swipe-action favorite">
            <i class="bi_interface-star-a"></i>
            <div class="text">
            </div>
          </div>
          <div class="delete swipe-action archive">
            <i class="bi_doc-file-stack"></i>
            <div class="text">
              Archive
            </div>
          </div>
        </div>
        <div class="notification-body">
          <div class="icon">
            <i class="bi_interface-places"></i>
          </div>
          <div class="text">
            <p class="time">November 21st</p>
            <p> You completed 10 sport events of different kinds with MeetFit already! Well done!</p>
          </div>
        </div>
      </div>
      <div class="notification-item theme-yellow">
        <div class="notification-actions">
          <div class="read swipe-action favorite">
            <i class="bi_interface-star-a"></i>
            <div class="text">
            </div>
          </div>
          <div class="delete swipe-action archive">
            <i class="bi_doc-file-stack"></i>
            <div class="text">
              Archive
            </div>
          </div>
        </div>
        <div class="notification-body">
          <div class="icon">
            <i class="bi_sport-badge"></i>
          </div>
          <div class="text">
            <p class="time">November 18th</p>
            <p> Congratulations! You just hosted your first event. How do you feel? Tell us about it!</p>
          </div>
        </div>
      </div>
      <div class="notification-item notification-unread theme-blue">
        <div class="notification-actions">
          <div class="read swipe-action favorite">
            <i class="bi_interface-star-a"></i>
            <div class="text">
            </div>
          </div>
          <div class="delete swipe-action archive">
            <i class="bi_doc-file-stack"></i>
            <div class="text">
              Archive
            </div>
          </div>
        </div>
        <div class="notification-body">
          <div class="icon">
            <i class="bi_sport-dumbell"></i>
          </div>
          <div class="text">
            <p class="time">November 13th</p>
            <p>You have joined 3 sport events in one week! A lot of calories burnt, haha! Keep going!</p>
          </div>
        </div>
      </div>
      <div class="notification-item notification-unread theme-purple">
        <div class="notification-actions">
          <div class="read swipe-action favorite">
            <i class="bi_interface-star-a"></i>
            <div class="text">
            </div>
          </div>
          <div class="delete swipe-action archive">
            <i class="bi_doc-file-stack"></i>
            <div class="text">
              Archive
            </div>
          </div>
        </div>
        <div class="notification-body">
          <div class="icon">
            <i class="bi_user-single-a-plus"></i>
          </div>
          <div class="text">
            <p class="time">November 5th</p>
            <p> You already have 5 followers! Awesome!</p>
          </div>
        </div>
      </div>
      <div class="notification-item theme-orange">
        <div class="notification-actions">
          <div class="read swipe-action favorite">
            <i class="bi_interface-star-a"></i>
            <div class="text">
            </div>
          </div>
          <div class="delete swipe-action archive">
            <i class="bi_doc-file-stack"></i>
            <div class="text">
              Archive
            </div>
          </div>
        </div>
        <div class="notification-body">
          <div class="icon">
            <i class="bi_sport-trophy-a"></i>
          </div>
          <div class="text">
            <p class="time">November 3rd</p>
            <p> Congratulations! You just finished your first event with MeetFit! Keep going!</p>
          </div>
        </div>
      </div>
  </div>
</div>