<div class="large-pane pane">
  <div class="navigation-bar">
    <div class="title">
      Events
    </div>
  </div>
  <div class="pane-inner">
    <div class="pill-switch" data-bind="event-view">
      <div class="item pill-item selected" data-bind="event-map-container">
        Map
      </div>
      <div class="item pill-item" data-bind="event-list-container">
        List
      </div>
    </div>
    <div class="event-map-container event-view">
      <div id="map">
      </div>
    </div>
    <div class="event-list-container  event-view">
      <div class="event-list-item">
        list!!
      </div>
      <div class="event-list-item">
      </div>
      <div class="event-list-item">
      </div>
    </div>
  </div>
</div>